:root {
    --color-dark: #EEEEFF;
    --background-color-dark: #222244;
    --border-color-dark: #EEEEFF;
    --my-view-manager-tab-border-color: var(--background-color-dark);
    --my-view-manager-tab-border-color-active: var(--border-color-dark);
    --my-view-manager-tab-shadow-hover: 0rem 0rem 0.5rem var(--border-color-dark);
}


.my-view-dashboard-header {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 60, 0);
}

.my-view-workspace-header {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 253, 0);
}

.my-view-functions-header {
    color: rgb(255, 255, 255);
    background-color: rgb(155, 157, 255);
}

.my-view-hardware-header {
    color: rgb(255, 255, 255);
    background-color: rgb(170, 170, 170);
}

.my-view-allocations-header {
    color: rgb(255, 255, 255);
    background-color: rgb(212, 0, 255);
}

/*sticky tabbar*/

.my-sticky-ne {
    height: 13rem;
}


/* .my-sticky-tabbar {
    height: 10rem;
}  */
    
/* .my-sticky-tabbar .jsa-tab {
    background-color: var(--jsa-popup-bd-color);
    border-color: var(--jsa-popup-bd-color);
}


.my-sticky-tabbar .jsa-tab:hover {

}

.my-sticky-tabbar .jsa-tab-active {
    background-color: var(--jsa-popup-bg-color);
} */


/*tool styles*/

.tool-go-to-dashboard {
    background-image: url(img/view-home.svg);
}

.tool-db-connection {
    background-image: url(img/tool-db-connection.svg);
}

.tool-db-connection-active {
    background-image: url(img/tool-db-connection-active.svg);
}

.db-connection-info {
    width: 10rem;
}

.my-modal-container {
    padding: 0px;
}
